@import '../abstracts/variables';

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media screen and (max-width: 375px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media screen and (max-width: 1440px) {
      @content;
    }
  }
}

@mixin hero-title {
  color: $hero-color;
  font-weight: 300;
}

@mixin text-primary {
  color: $primary-color;
}
