// Primary Colors
$color-primary-dark-blue: rgb(45, 49, 77);
$color-primary-lime-green: rgb(49, 211, 92);
$color-primary-bright-cyan: rgb(43, 183, 218);

//Neutral Colors
$color-neutral-Grayis-blue: rgb(150, 152, 166);
$color-neutral-light-Grayis-blue: rgb(243, 244, 246);
$color-neutral-very-light-gray: rgb(250, 250, 250);
$color-neutral-white: rgb(255, 255, 255);
