@import '../abstracts/variables';

#nav-bar{
  background: $color-neutral-white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  padding: 1.8rem 0;
  justify-content: center;
  align-content:center;

  .nav-bar{
    display: flex;
    justify-content: space-between;

    &__nav-list{
      display: flex;
      gap: 1.6rem;
      list-style: none;
      margin: auto 0;
    }
  }
}
