@import '../abstracts/variables';

#nav-bar {
  background: $color-neutral-white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  padding: 1.8rem 0;

  // navigation bar desktop
  .desktop-nav-bar {
    justify-content: space-between;
    display: flex;
    align-items: center;

    &__nav-list {
      display: flex;
      gap: 1.6rem;
      list-style: none;
      width: 50%;

      &--list-item {
        color: $color-neutral-Grayis-blue;
        &:hover {
          color: $color-primary-dark-blue;
        }
      }
    }

    @include respond(phone) {
      display: none;
    }
  }
  // Navigation bar mobile
  .mobile-nav-bar {
    display: none;
    justify-content: space-between;
    #burger-menu {
      cursor: pointer;
    }
    @include respond(phone) {
      display: flex;
    }
  }

  .mobile-menu {
    &__nav-list{
      margin: 1.8rem;
      border-radius: 5px;
      list-style: none;
      text-align: center;
      padding: 1.8rem 0;
      &--list-item{
        padding: .8rem 0;
        &:hover{
          background-color: gray;
        }
      }
    }
  }
}
