@import '../abstracts/variables';

#nav-bar {
  background: $color-neutral-white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  padding: 1.8rem 0;

  // navigation bar desktop
  .desktop-nav-bar {
    justify-content: space-between;
    display: flex;
    align-items: center;

    &__nav-list {
      display: flex;
      gap: 1.6rem;
      list-style: none;
      width: 50%;

      &--list-item {
        color: $color-neutral-Grayis-blue;
        &:hover {
          color: $color-primary-dark-blue;
        }
      }
    }

    @include respond(phone) {
      display: none;
    }
  }
  // Navigation bar mobile
  .mobile-nav-bar {
    display: none;
    justify-content: space-between;
    #burger-menu {
      cursor: pointer;
    }
    @include respond(phone) {
      display: flex;
    }
  }
}

.mobile-nav-modal {
  position: fixed;
  z-index: 2;
  background-image: linear-gradient(
    rgba($color-primary-dark-blue, 0.8),
    rgba($color-neutral-white, 0.5)
  );
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .mobile-menu{
    width: 80%;
    background-color:$color-neutral-white;
    margin: 20% auto 0;
    text-align: center;
    border-radius: 5px;

    &__nav-list{
      list-style: none;
      padding: .9rem 0;
      color: $color-neutral-Grayis-blue;
      &--list-item{
        padding: .9rem 0;
        cursor: pointer;
        &:hover{
          clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
          background-color: $color-neutral-Grayis-blue;
          color: $color-neutral-white;
        }
      }
    }
  }
}
